<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        xsi:schemaLocation="
	 	http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd">
    <!--<bean id="adminApplicationImpl" class="com.kalix.admin.core.web.impl.app.AdminApplicationImpl"/>-->
    <!--&lt;!&ndash;应用&ndash;&gt;-->
    <!--&lt;!&ndash;系统应用&ndash;&gt;-->
    <!--<service interface="com.kalix.framework.core.api.web.IApplication" ref="adminApplicationImpl">-->
        <!--<service-properties>-->
            <!--<entry key="id" value="admin"/>-->
        <!--</service-properties>-->
    <!--</service>-->

    <bean id="adminApplicationConfig" class="com.kalix.admin.core.web.impl.app.AdminApplicationConfig">
        <property name="bundleContext" ref="blueprintBundleContext"/>
    </bean>
    <service id="managedService" interface="org.osgi.service.cm.ManagedService" ref="adminApplicationConfig">
        <service-properties>
            <entry key="service.pid" value="ConfigAdminApp" />
        </service-properties>
    </service>

    <!--模块-->
    <!--权限管理-->
    <service interface="com.kalix.framework.core.api.web.IModule">
        <bean class="com.kalix.admin.core.web.impl.module.PermissionModuleImpl"/>
    </service>
    <!--组织结构-->
    <service interface="com.kalix.framework.core.api.web.IModule">
        <bean class="com.kalix.admin.core.web.impl.module.ConstructModuleImpl"/>
    </service>
    <!--系统管理-->
    <service interface="com.kalix.framework.core.api.web.IModule">
        <bean class="com.kalix.admin.core.web.impl.module.SystemModuleImpl"/>
    </service>
    <!---菜单-->
    <!--用户管理-->
    <service interface="com.kalix.framework.core.api.web.IMenu">
        <bean class="com.kalix.admin.core.web.impl.menu.UserMenuImpl"/>
    </service>
    <!--角色管理-->
    <service interface="com.kalix.framework.core.api.web.IMenu">
        <bean class="com.kalix.admin.core.web.impl.menu.RoleMenuImpl"/>
    </service>
    <!--工作组管理-->
    <service interface="com.kalix.framework.core.api.web.IMenu">
        <bean class="com.kalix.admin.core.web.impl.menu.WorkGroupMenuImpl"/>
    </service>

    <!--组织结构树-->
    <service interface="com.kalix.framework.core.api.web.IMenu">
        <bean class="com.kalix.admin.core.web.impl.menu.OrgChartMenuImpl"/>
    </service>
    <!--机构管理-->
    <service interface="com.kalix.framework.core.api.web.IMenu">
        <bean class="com.kalix.admin.core.web.impl.menu.OrganizationMenuImpl"/>
    </service>

    <!--应用管理-->
    <service interface="com.kalix.framework.core.api.web.IMenu">
        <bean class="com.kalix.admin.core.web.impl.menu.ApplicationMenuImpl"/>
    </service>
    <!--功能管理-->
    <service interface="com.kalix.framework.core.api.web.IMenu">
        <bean class="com.kalix.admin.core.web.impl.menu.FunctionMenuImpl"/>
    </service>
    <!--字典管理-->
    <service interface="com.kalix.framework.core.api.web.IMenu">
        <bean class="com.kalix.admin.core.web.impl.menu.AdminDictMenuImpl"/>
    </service>
</blueprint>
